a{
    text-decoration: none;
}

.head{
    background-color: rgb(107, 29, 180);
}
.head2{
    background-color: rgb(107, 29, 180);
}
.navbar-brand{
    color: white;
    font-size: 24px;
}
.navbar-nav a{
    color: white;
}

/* hero section */
#home{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(https://cdn.pixabay.com/photo/2017/08/02/13/09/confetti-2571539_1280.jpg) center;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 89%, rgba(0, 0, 0, 0));
    /* background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255,0)50);   */
}

/* isi section */
#isi{
    background-color: white;
}
.isi-title{
    display: flex;
    justify-content: flex-start;
}
.isi-title h2{
    font-size: 37px;
    color:black;
    padding-bottom: 12px;
}
.card{
    width: 18rem;
    color: white;
    background-color: rgb(159, 43, 226);
}
.card h5{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.card-body{
    padding: 5px;
}
.card-title{
    padding-left: 10px;
    padding-top: 5px;
}
.btn{
    color: white;
    display: flex;
    justify-content: flex-end;
}

/* news section */
.news-title{
    color: black;
    padding-top: 20px;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px){
    iframe{
        height: 220px;
        width: 392px;
    }
}
@media (max-width: 768px){
    iframe{
        height: 157px;
        width: 280px;
    }
}
/* @media(max-width: 425px){
    iframe{
        height: 95px;
        width: 168px;
    }
} */


/* endpost section */
#endpost{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(https://img.freepik.com/free-photo/rear-view-excited-people-with-arms-raised-having-fun-while-watching-confetti-fireworks-front-stage-music-festival-copy-space_637285-568.jpg?t=st=1727019673~exp=1727023273~hmac=3cf7dee2e4ad3920908a59b8f4963566f7b3cd2717026459bb290946199c09f5&w=1480) center;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 11%);
}
.buton{
    display: flex;
    justify-content: center;
    align-items: center;
}






